h1{
color: blue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40px;
}
a,p{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: green;
}